@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans&display=swap");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ----- HOME ----- */
.home {
  height: 100vh;
}

.home .header .navbar {
  padding: 25px 16px;
}

.home .header .navbar .container {
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .header .navbar .container .logo h1 {
  font-weight: 600;
  color: #959597;
}

.home .header .navbar .container .nav-items {
  width: 48vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.home .header .navbar .container .nav-items li {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .header .navbar .container .nav-items li a {
  color: #343a40;
}

.home .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9vh;
}

.home .banner .text-content {
  margin-left: 10vw;
  margin-right: 5vw;
  text-align: left;
}

.home .banner .text-content h5 {
  font-size: 18px;
  font-weight: 600;
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home .banner .text-content h2 {
  font-size: 40px;
  color: #343a40;
}

.home .banner .text-content p {
  margin-top: 20px;
  color: #959597;
}

.home .banner .text-content .form {
  padding-top: 20px;
}

.home .banner .text-content .form input, .home .banner .text-content .form button {
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  background-color: #F3F3F3;
}

.home .banner .text-content .form input {
  padding: 0 100px 0 22px;
  outline: none;
  font-size: 15px;
}

.home .banner .text-content .form button {
  width: 150px;
  color: white;
  background-color: #007bffe1;
  font-size: 15px;
  margin-left: -70px;
}

.home .banner .text-content .form button:hover {
  cursor: pointer;
}

.home .banner .hero-img {
  margin-right: 11vw;
}

.home .banner .hero-img img {
  max-width: 100%;
  height: auto;
}

/* ----- FEATURES ----- */
.features {
  height: 100vh;
  background-color: #F3F3F3;
  padding-top: 30px;
}

.features .container {
  text-align: center;
}

.features .container .features-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.features .container .features-subtitle {
  font-size: 15px;
  color: #959597;
  margin: 0 30vw;
}

.features .container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
}

.features .container .grid-container .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 270px;
  height: 290px;
  border-radius: 10px;
  padding-bottom: 20px;
  padding: 0 25px;
}

.features .container .grid-container .grid-item h3 {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 600;
  color: #3a3a47;
}

.features .container .grid-container .grid-item p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #959597;
  letter-spacing: 0.5px;
}

.features .container .grid-container .grid-item img {
  margin: 40px 0 25px;
  width: 80px;
}

/* ----- SERVICES ----- */
.services {
  height: 100vh;
}

.services .services-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.services .text-container .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 18vw;
  height: 18vh;
}

.services .text-container .text-box h4 {
  color: #343a40;
  font-size: 28px;
  font-weight: 400;
  margin-left: 18px;
}

.services .text-container .text-box h4 p {
  font-size: 15px;
  font-weight: 400;
  color: #959597;
}

.services .text-container .text-box img {
  width: 70px;
}

.services .img-wrapper img {
  width: 70%;
  display: block;
  margin-right: 15vw;
  margin-left: auto;
}

/* ----- DEMO ----- */
.demo {
  height: 80vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.demo .demo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f9fa;
  width: 100vw;
  height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo .demo-container .demo-text {
  text-align: left;
  width: 50vw;
  padding-left: 4em;
  padding-right: 20px;
}

.demo .demo-container .demo-text h6 {
  font-size: 35px;
  color: #3a3a47;
  letter-spacing: 0.5px;
}

.demo .demo-container .demo-text p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #959597;
  letter-spacing: 1px;
  font-weight: 400;
}

.demo .demo-container .demo-text .btn {
  border: none;
  background-color: #007bffe1;
  padding: 20px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  width: 200px;
}

.demo .demo-container iframe {
  height: inherit;
  width: 48.9vw;
}
/*# sourceMappingURL=style.css.map */